/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #4caf50;
  padding: 1rem;
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Main */
main {
  flex: 1;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4caf50;
}

/* Formulário de CEP */
fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  color: #4caf50;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #4caf50;
}

button {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

#limpaPreview {
  background-color: lightslategray;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Avisos */
#msgAviso {
  display: block;
  margin-top: 10px;
  color: red;
}

/* Dados do CEP */
#dadosCepUnitario {
  margin-top: 20px;
}

#json-campos {
  list-style-type: none;
  padding: 0;
}

#json-campos li {
  margin-bottom: 8px;
  font-size: 1rem;
}

#prewviewCeps pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#arquivoExemplo {
  display: inline-block;
  background-color: hsl(122, 39%, 49%);
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

#listaCeps {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

ul#ceps-lista-ul {
  list-style: none;
  width: 32%;
  font-size: small;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul#ceps-lista-ul li {
  margin-bottom: 5px;
  line-height: 1.6;
}

strong {
  color: #333;
}

@media (max-width: 768px) {
  ul#ceps-lista-ul {
    width: 48%;
  }
  #prewviewCeps pre {
    max-width: 467px;
    max-height: 500px;
  }
}

@media (max-width: 480px) {
  ul#ceps-lista-ul {
    width: 100%;
  }
  #prewviewCeps pre {
    max-width: 300px;
    max-height: 500px;
  }
}

#listaCeps span {
  display: inline-block;
  background-color: #f0f0f0;
  color: #d9534f;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #d9534f;
  width: 85%;
  box-sizing: border-box;
  line-height: 1.5;
}

#listaCeps span strong {
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  #listaCeps span {
    width: auto;
  }
}
